.row {
  margin:0px!important;
}

/* COMPONENTS */
#home{
  height: 100vh;
  width: 100vw;
  background-image: url('./images/BackgroundImages/goldengatebridge.jpg');
  background-size: cover;
  background-position: center center;
}
#about{
  min-height: 100vh;
  width: 100vw;
  background-image: url('./images/BackgroundImages/cherryblossomsdc.jpg');
  background-size: cover;
  background-position: 65% 40%;
}
#projects{
  min-height: 100vh;
  width: 100vw;
  background-image: url('./images/BackgroundImages/nyc_skyline.jpg');
  background-size: cover;
  background-position: center center;
}
#contact{
  height: auto;
  width: 100vh;
  z-index: 5;
}
#navigation {
  opacity: 1;
  font-weight: 500;
  color: white;
  text-shadow: 2px 2px 3px #000000;
}

/* content containers within each component */
.home-container {
  right: 3%;
  bottom: 3%;
}
.about-container {
  right: 3%;
  bottom: 3%;
}
.project-container {
}
.contact-container {
  margin: 0!important;
  padding: 5%!important;
}

/* Component Title & Description sections */
.home-title {
  text-shadow: 3px 3px 3px #000000;
}
.home-description {
  line-height: 1.3;
  text-shadow: 3px 3px 3px #000000;
}
.about-title{
  text-shadow: 3px 3px 4px #000000;
}
.about-description {
  font-weight: 750;
  text-shadow: 2px 2px 4px #000000;
}
.project-title {
  text-shadow: 2px 2px 5px #000000;
}

.primary {
  z-index:200;
}

/* WITHIN THE ABOUT COMPONENTS */
.about-link{
  color: white!important;
  text-decoration: underline!important;
  font-weight: bold;
}
.about-link:hover{
  background-color: black;
}
.skill-icon:hover{ 
  animation: pulse 1s infinite;
  animation-timing-function: linear;   
}
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(0.8); }
  100% { transform: scale(1); }
}

/* WITHIN THE PROJECTS COMPONENT */
.project-title {
  color: white;
}
.project-name {
  text-shadow: 2px 2px 3px #000000;
}
.project-tile {
  color: white;
}
.project-image{
  transition: transform 1s;
}
.project-image:hover {
  transform: scale(1.05);
}
.repo-icon{
  width: 25px;
  margin-right: 10px;
  transition: transform 0.5s;
}
.repo-icon:hover{
  transform: scale(1.4);
}

/* WITHIN THE CONTACT COMPONENTS */
.contact-icon:hover {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}
.resume-img-preview:hover {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}
.resume-button{
  border:0!important;
  padding:0!important;
  margin:0!important;
}
.resume-img {
  height: 100%;
  width: 100%;
}

/* general elements, not necessarily component specific */
span{
  font-weight: bold;
}

/* media queries */
@media all and (max-width: 576px) { /* screen size until 576px */ 
  .overlay-layer{
    background-color: rgba(0, 0, 0, 0.000);
    position:absolute;
    top: 100vh;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  #navigation {
    font-size: 10px;
  }

  .home-container {
    font-size: 20px;
  } 
  .home-title{
    font-weight: 500;
  }
  
  .about-title {
    font-size: 20px;
  }
  .about-description {
    font-size: 10px;
  }
  .skill-icon {
    height: 25px;
    width: 25px;
  }

  .project-title {
    padding-top: 5%;
    font-size: 25px;
  }
  .project-tile {
    padding: 20px;
  }
  .project-image {
    height: 175px;
    width: 250px;
    margin-bottom: 10px;
  }

  .contact-title {
    font-size: 25px;
  }
  .contact-description{
    font-size: 15px;
  }
  .contact-icon {
    height: 45px;
    width: 45px;
    margin: 5px 10px;
  }
  .resume-img-preview {
    height: 45px;
    width: 45px;
    margin: 5px 10px;
  }
}

@media all and (min-width: 576px) { /* screen size greater than 576px */
  .overlay-layer{
    background-color: rgba(0, 0, 0, 0.000);
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #navigation {
    font-size: 20px;
  }

  .home-container {
    font-size: 30px;
  }
  .home-title{
    font-weight: 500;
  }
  
  .about-title {
    font-size: 35px;
  }
  .about-description {
    font-size: 12px;
  }
  .skill-icon {
    height: 44px;
    width: 44px;
  }

  .project-title {
    padding-top: 5%;
    font-size: 35px;
  }
  .project-tile {
    padding: 20px;
  }
  .project-image {
    height: 200px;
    width: 300px;
    margin-bottom: 10px;
  }

  .contact-title {
    font-size: 35px;
  }
  .contact-description{
    font-size: 18px;
  }
  .contact-icon {
    height: 60px;
    width: 60px;
    margin: 5px 10px;
  }
  .resume-img-preview {
    height: 60px;
    width: 60px;
    margin: 5px 10px;
  }
}

@media all and (min-width: 768px) { /* screen size greater than 768px */
  .overlay-layer{
    background-color: rgba(0, 0, 0, 0.000);
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .home-container {
    font-size: 30px;
  }

  .about-title {
    font-size: 40px;
  }
  .about-description {
    font-size: 14px;
  }
  .skill-icon {
    height: 45px;
    width: 45px;
  }

  .project-title {
    padding-top: 5%;
    font-size: 40px;
  }
  .project-tile {
    padding: 30px;
  }
  .project-image {
    height: 225px;
    width: 350px;
    margin-bottom: 10px;
  }

  .contact-title {
    font-size: 40px;
  }
  .contact-icon {
    height: 70px;
    width: 70px;
    margin: 5px 20px;
  }
  .resume-img-preview {
    height: 70px;
    width: 70px;
    margin: 5px 20px;
  }
}

@media all and (min-width: 992px) { /* screen size greater than 992px */
  .overlay-layer{
    background-color: rgba(0, 0, 0, 0.000);
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #navigation {
    font-size: 25px;
  }

  .home-container {
    font-size: 40px;
  }

  .about-title {
    font-size: 45px;
  }
  .about-description {
    font-size: 18px;
  }
  .skill-icon {
    height: 75px;
    width: 75px;
  }
  .project-title {
    padding-top: 5%;
    font-size: 45px;
  }
  .project-tile {
    padding: 50px;
  }
  .project-image {
    height: 300px;
    width: 400px;
    margin-bottom: 10px;
  }

  .contact-title {
    font-size: 45px;
  }
  .contact-icon {
    height: 80px;
    width: 80px;
    margin: 10px 30px;
  }
  .resume-img-preview {
    height: 80px;
    width: 80px;
    margin: 10px 30px;
  }
}

@media all and (min-width: 1200px) { /* screen size greater than 1200px */
  .overlay-layer{
    background-color: rgba(0, 0, 0, 0.000);
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .home-container {
    font-size: 55px;
    font-weight: 300;
  }

  .about-title {
    font-size: 50px;
  }
  .about-description {
    font-size: 20px;
  }
  .skill-icon {
    height: 90px;
    width: 90px;
  }
  .project-title {
    padding-top: 5%;
    font-size: 75px;
  }
  .project-image {
    height: 350px;
    width: 500px;
    margin-bottom: 10px;
  }

  .contact-title {
    font-size: 50px;
  }
  .contact-icon {
    height: 90px;
    width: 90px;
  }
  .resume-img-preview {
    height: 90px;
    width: 90px;
  }
}

@media all and (min-width: 1400px) { /* screen size greater than 1400px */
  .overlay-layer{
    background-color: rgba(0, 0, 0, 0.000);
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media all and (min-width: 1800px) { /* screen size greater than 1800px */
  .overlay-layer{
    background-color: rgba(0, 0, 0, 0.0);
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .home-container {
    font-size: 65px;
    font-weight: 300;
  }
  .project-title {
    padding-top: 2%;
    font-size: 70px;
  }
  .project-image {
    height: 450px;
    width: 600px;
    margin-bottom: 10px;
  }
  .project-tile {
    padding: 50px;
  }
}